.app-card {
  background-color: #e3e3e3;
  max-width: 400px;
  max-height: 200px;
  padding: 24px;
  border-radius: 24px;
}

.card-row h2 {
  font-weight: 700;
  color: #313131;
}

.card-row p {
  font-weight: 600;
  color: #585858;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
