
.app-card {
  background-color: #e3e3e3;
  width: 400px;
  max-height: 200px;
  padding: 24px;
  border-radius: 24px;
  white-space: pre-line;
  
}
.card-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-dates {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.card-dates p {
  margin: 0;
  font-weight: 600;
  color: #585858;
}

.card-row h2 {
  font-weight: 700;
  color: #313131;
}

.card-row p {
  font-weight: 600;
  color: #585858;
}