.profile-menu {
  margin: 24px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e3e3e3;
  max-width: 300px;
  max-height: 300px;
  border-radius: 24px;
  font-size: 24px;
  flex-wrap: wrap;
}

.profile-menu button{
  padding: 12px 24px;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  width: 100%;

}

.profile-menu button.active{
  color: #fff;
  background-color: #454545;
}

.exit-button{
  border: none;
  background-color: transparent;
  color: #E23A26;
  font-weight: bold;

}
