#profile-page {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.profile-card {
  background-color: #e3e3e3;
  padding: 32px;
  border-radius: 24px;
  max-width: 100vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  justify-content: start;
  gap: 24px;
}

.profile-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
}

.profile-field label {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 4px;
  color: #454545;
}

.profile-field span {
  font-weight: 500;
  color: #454545;

  font-size: 1.5rem;
}

.exit-button {
  align-self: flex-start;
  padding: 14px 28px;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #e23a26;
  color: #fff;
  transition: background-color 0.2s;
  width: 100%;
}

.exit-button:hover {
  background-color: #c32b1f;
}

@media (max-width: 600px) {
  .profile-card {
    padding: 24px;
    width: 100%;
  }
}
