#vacancies {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 40px 0;
}

#vacancies h1 {
  margin-left: 24px;
}

.event-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.app-card {
  margin: 24px;
}

#vacancies h2{
  font-size: 24px;
}
