
aside {
  background-color: #f6bb39;
  padding: 0 32px;
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside h1 {
  font-size: clamp(32px, 6vw, 96px);
  margin-bottom: 1rem;
  color: #454545;
}

aside p {
  font-size: clamp(24px, 4vw, 80px);
  font-weight: bold;
}
