html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  height: 100%;
}

#root{
  height: 100%;
}

.container-courses{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.graduacao-box{
  display: flex;
  height: 4vh;
  background-color: #D9D9D9;
  width: 300px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.graduacao-title{
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  color: #1C1C1C;
  align-self: center;
  margin-bottom: 0;
}

.box-btn{
  all: unset;
  display: inline-flex; 
  margin-top: 4px;
}

.seta-btn{
 align-self: center;
 width: 30px;
}

.box-btn:active, .box-btn:focus{
  outline: none;
  border:none;
}

.search-box{
  display: flex;
  height: 4vh;
  width: 30vw;
  background-color: #D9D9D9;
  border-radius: 16px;
  margin-right: 40px;
}

.search-icon{
  height: 2.3vh;
  align-self: center;
  margin-left: 14px;
  margin-right: 10px;
}

.search-input{
  all: unset;
  font-family: Inter;
  color: #1C1C1C;
  font-size: 20px;
}

.search-input::placeholder{
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  color: #1C1C1C;
}

.course-box{
  display: flex;
  height: 10vh;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-direction: column;
}

.semestre{
  display: flex;
  align-items: center;
  width: 250px;
  margin-top: 20px;
  justify-content: space-between;
}

.semestre-title{
  font-family: Inter;
  font-weight: 500;
  margin-left: 50px;
}

.courses{
  display: grid;
  width: 100%;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  justify-items: center;
  margin-bottom: 40px;
}



.course-link{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  width: 480px;
  height: 12vh;
  border: none;
  border-radius: 24px;
  align-items: center;
  text-decoration: none;
  box-shadow: 2px -1px 1px 1px rgba(148, 144, 144, 0.5);
}

.course-link:hover{
  border: 1px solid #9c9898;
}

.course-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 15vw;
  height: 4vh;
  margin-top: 2vh;
  font-size: 24px;
  color: #1C1C1C;
}

.course-title{
  font-family: inter;
  font-weight: 700;
  font-style: bold;
 
}

.course-hour{
  color: #585858;
}

.course-name{
  display: flex;
  width: 15vw;
  font-family: inter;
  font-weight: 400;
  font-size: 20px;  
  text-align: left;
  color: #444444;
}

@media (max-width: 1600px), (max-height: 1000px) {
  .top-box{
    height: 10vh;
  }
  .graduacao-box{
    height:40px;
    width: 16vw;
  }
  .graduacao-title{
    font-size: 13px;
  }

  .seta-btn{
    height: 4vh;
  }

  .search-icon{
    height: 3vh;
  }

  .search-box{
    height: 40px;
  }

  .search-input::placeholder, .search-input{
    font-size: 13px;
  }

  .semestre{
    width: 170px;
  }

  .semestre-title{
    font-size: 16px;
    margin-bottom: 4px;
  }

  .seta-btn{
    width: 25px;
    height: 25px;
    
  }

  .box-btn, .btn{
    margin-top: 0;
  }

  .course-link{
    width: 18vw;
    height: 20vh;
  }

  .course-card{
    font-size: 18px;
  }

  .course-name{
    font-size: 15px;
  }

}